a:link    {color:inherit; background-color:transparent; text-decoration:underline}
a:visited {color:inherit; background-color:transparent; text-decoration:underline}
a:hover   {color:inherit; background-color:transparent; text-decoration:underline} 
a:active  {color:inherit; background-color:transparent; text-decoration:underline}

@font-face {
  font-family: goudy;
  src: url('./resources/goudy.ttf'); }

input:focus {
  outline: none; }
.nolink {
  text-decoration: none; }
::selection {
  background: rgba(95,95,95,0.36); /* WebKit/Blink Browsers */ }
  
body {
  position: fixed;
  /* overflow: hidden; */
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgba(85,95,115,1); }

#request {
 user-select: none;
 position: absolute;
 top: 19px;
 left: 15px; }

.request {
 display: inline-block;
 font-family: 'goudy';
 font-size: 18pt; }
 .dropper {
  cursor: pointer; }
.req-elem {
 min-width: 100px;
 font-size: 12pt;
 background: rgba(1,1,1,0.65);
 color: rgba(225,225,225,0.55); }
 .req-elem:hover {
 background: rgba(1,1,1,0.2);
 color: rgba(225,225,225,1);
 }
  
#options {
 user-select: none;
 position: absolute;
 top: 55px;
 left: 15px;
}
.option {
 display: inline-block;
 font-family: 'goudy';
 font-size: 18pt; }
.opt-elem {
 min-width: 100px;
 font-size: 12pt;
 background: rgba(1,1,1,0.65);
 color: rgba(225,225,225,0.55); }
 .opt-elem:hover {
 background: rgba(1,1,1,0.2);
 color: rgba(225,225,225,1);
 }
.opt-spinner {
 cursor: pointer;
 text-align: center;
 min-width: 18px;
 color: rgba(150,150,150,1); }
 .opt-spinner:hover {
  color: rgba(230,230,230,1); 
 }

.req-spinner {
 cursor: pointer;
 text-align: center;
 min-width: 18px;
 color: rgba(150,150,150,1); }
 .req-spinner:hover {
  color: rgba(230,230,230,1); 
 }

#outputfull {
 float: left;
 white-space: nowrap;
 user-select: none;
 position: absolute;
 top: 89px;
 left: 15px; }

.output {
 display: inline-block;
 font-family: 'goudy';
 font-size: 18pt; }
.opf-elem {
 white-space: pre-wrap;
 min-width: 100px;
 font-size: 14pt; }

#ledger {
 user-select: none;
 position: absolute;
 top: 124px;
 left: 15px;
 }
 .ledger {
 display: inline-block;
 font-family: 'goudy';
 font-size: 18pt; }
 .lgr-elem {
  min-width: 300px;
  font-family: 'goudy';
  font-size: 14pt;
 }


/* Post Hoc Modifications for individual elements */
#req-quant {
 text-align: center;
 min-width: 13px;
 color: rgba(230,230,230,1);
}
#req-type {
 color: rgba(230,230,230,1);
}
#rwd-quant {
 text-align: center;
 min-width: 13px;
 color: rgba(230,230,230,1);
}
.opt-cargo {
 min-width: 110px; }

#opf-2 {
 min-width: 300px; }
#opf-4 {
 min-width: 110px; }
#opf-5 {
 min-left: 550px; }



#footer {
 position: absolute;
 bottom: 0px;
 left: 0px;
 height: 25px;
 width: 100%;
 font-size: 8pt;
}
#sub {
 position: absolute;
 bottom: 0px;
 left: 8px;
}
#author {
 text-align: right;
 position: absolute;
 bottom: 0px;
 right: 8px;
}


#opf-init {
 border-top: 1px solid rgba(1,1,1,1); }
.hidden {
  display: none; }

.dev {
  border: 1px solid rgba(1,1,255,1); }